/* .about {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    justify-content: center;
    padding: 50px;
}

.leftSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    flex: 1;
}

#leftSideTitle {
    font-size: 3rem;
    color: black;

}

#years {
    width: 90%;
    color: brown;

}


#detail {
    line-height: 30px;
    font-size: 1rem;
    padding-right: 20px;
    text-align: justify;
    color: black;
}

.rightSide {
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex: 1;
}

.vision h3,
.mission h3,
.bottom_values h3 {
    font-size: 2rem;
    padding: 10px;
}

.equal {
    flex: 1;
    padding: 5px;
}

.vision p,
.mission p,
.bottom_values p {
    line-height: 28px;
    font-size: 1rem;
    padding: 10px;
}

.top {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.vision,
.mission {
    z-index: 0.9;
    width: 300px;
    text-align: justify;
   
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.vision,
.mission,
.bottom_values {
    flex-direction: column;
    width: 100%;
}

.vision img,
.mission img {
    width: 100%;
    height: 250px;
}

.bottom_values {
    background-color: brown;
    line-height: 30px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.6);
    color: whitesmoke;
    margin-top: 10px;
}

.why {
    height: 100vh;
    background: url(../images/solarAbout.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    padding: 30px;
    flex-direction: row;
   
    background-attachment: fixed;

    border: 1 px solid white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.3), inset 1px 1px rgba(0, 0, 0, 0.3);
}

#whyTitle {
    border-right: 2px solid black;
   
    font-size: 2.2rem;
    line-height: auto;
    margin-left: 10px;
    color: black;
    flex: 1;
    margin-right: 10px;
}

#whyContent {
    flex: 2;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

#whyPara {
    line-height: 40px;
    font-size: 1.3rem;
    margin-left: 10px;
    text-align: justify;
    color: white;
   
}

#advnatage {
    font-size: 1.6rem;
    margin-top: 20px;
    margin-left: 10px;
}

#advantageTitle {
    color: black;
   
}

#subPoints {
    margin-top: 10px;
    color: black;
    margin-left: 20px;
}

#subPoints li {
    color: rgba(0, 0, 0);
    font-size: 1.1rem;
    line-height: 40px;
    list-style: disc;
}

@media screen and (max-width: 1200px) {
    #detail {
        line-height: 20px;
        font-size: 1rem;
        padding-right: 0%;
        margin-top: 10px;
    }

    #years {
        margin-top: 10px;
    }

    .about {
        padding: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
        flex-direction: column;
        height: auto;
    }

    .top {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .bottom_values {
        margin-top: -11px;
    }

    #leftSideTitle {
        font-size: 1.5rem;
    }

    .rightSide {
        width: 100%;
    }

    .why {
        margin: 0%;
        padding: 5px;
        height: auto;
        width: 100vw;
        flex-direction: column;
    }

    #whyTitle {
        font-size: 2rem;
        margin-top: 10px;
    }

    #whyPara {
        line-height: 20px;
        font-size: 1rem;

        text-align: justify;
        margin: 0%;
        margin: 10px;
    }

    #advnatage {
        margin: 0%;
        margin: 10px;
        padding: 0%;
    }

    #advantageTitle {
        font-size: 1.2rem;
    }

    #subPoints li {
        line-height: 25px;
        font-size: 1rem;
    }
}

@media screen and (max-width: 400px) {
    #whyTitle {
        font-size: 1.5rem;
        border-right: none;
    }
} */