 #blogPara {
     line-height: 30px;
     text-align: justify;
     font-size: 1rem;

 }

 .blog-container {
     max-width: 100%;
     padding: 40px;
     background-color: #fff;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 }

 .blog-content {
     margin-bottom: 30px;
 }

 .blog-content h1 {
     font-size: 3rem;
 }

 .media-section {
     margin-bottom: 40px;
 }

 .media-section h2 {
     margin-bottom: 15px;
     font-size: 24px;
 }

 .media-grid {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-gap: 20px;
 }

 .media-contentR {
     margin-bottom: 30px;
 }

 .media-item {
     border-radius: 8px;
     overflow: hidden;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .full-Screen {
     width: 100%;
     height: 70vh;
     margin-bottom: 20px;
     /* border: 2px solid black; */
     box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
 }

 .media-item img {
     width: 100%;
     height: auto;
     display: block;
     border-radius: 8px;
 }

 .media-item.video {
     display: flex;
     flex-direction: column;
 }

 .media-item.video iframe {
     width: 100%;
     height: 315px;

     border: none;
     border-radius: 8px;
 }

 .media-item .media-content {
     padding: 20px;
     background-color: #f9f9f9;
 }

 .media-item .media-content h3 {
     margin-top: 0;
 }

 #ytbBtn {
     background-color: brown;
     color: white;
     padding: 15px;
     border-radius: 10px;
     display: flex;
     justify-content: center;

     align-items: center;

     width: fit-content;

     margin: 0 auto;

 }

 @media only screen and (max-width: 768px) {
     .media-grid {
         grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
         grid-gap: 15px;
     }

     .blog-content h1 {
         font-size: 1.1rem;
     }

     .media-item iframe {
         height: 200px;
     }
 }

 @media only screen and (max-width: 480px) {
     .blog-container {
         padding: 10px;
         margin: 10px;
     }

     .media-grid {
         grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
         grid-gap: 10px;
     }

     .media-item iframe {
         height: 160px;
     }

     .media-item .media-content {
         padding: 10px;
     }

     .media-item .media-content h3 {
         font-size: 16px;
     }

     #blogPara {
         display: none;
     }
 }