.container {
    /* max-width: 90%; */
    margin: 20px auto;
    margin-top: 0%;
    padding: 60px;

    border-radius: 8px;
    background-color: #f5f5f5;

}

.overLayPort {
    position: absolute;
    inset: 0%;
    background-color: rgba(0, 0, 0, 0.8);

    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 40px;

    flex-direction: column;
    display: flex;
    align-items: flex-start;
    color: white;
    justify-content: center;
}

.overLayPort h1 {
    font-size: 2.5rem;
    padding-bottom: 10px;
    border-bottom: 3px solid yellow;
    border-radius: 10px;
}

.overLayPort p {
    width: 70%;
    color: white;
    word-spacing: 1px;
    font-size: 1.2rem;
    text-align: justify;
}


.portRel {
    position: relative;
    min-height: 60vh;
}

#imgTop {
    height: 100%;
    width: 100%;
}


.product {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-bottom: 20px;
}

.productsItems {
    padding: 20px;
    background-color: #fff;
    /* border-radius: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.flexStarty {
    align-self: flex-start;
}

.productsItems:hover {
    transform: translateY(-5px);
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    margin-bottom: 15px;
    color: #555;
}

.product-image {
    max-width: 100%;
    max-height: 200px;
    height: auto;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #333;
}

.quantityHandle {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.addProductProt,
.minusProductProt {
    padding: 8px;
    font-size: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5px;
}

.addProductProt:hover,
.minusProductProt:hover {
    background-color: #999;
}

.quantityProductProt {
    padding: 8px;
    width: 40px;
    text-align: center;
}

.cartBtnPort {
    padding: 12px 20px;
    font-size: 16px;
    background-color: brown;
    width: 100%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cartBtnPort:hover {
    background-color: #6d1414;
}

@media screen and (max-width: 768px) {
    .overLayPort {
        align-items: center;
        padding: 10px;
    }

    .product {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
    }

    .container {
        padding: 10px;
    }

    .flexStarty {
        align-self: center !important;
    }

    .product-image {
        max-height: 150px;
    }

    .product-title {
        font-size: 20px;
    }

    .productsItems {
        padding: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .overLayPort h1 {
        font-size: 1.2rem;
    }

    .overLayPort p {
        font-size: 1.2rem;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .overLayPort h1 {
        font-size: 1.4rem;
    }

    .overLayPort p {
        font-size: 0.9rem;
    }

}